* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  background-color: #EEEFF4;
}

body,
html,
.App,
.vertical-center {
  width: 100%;
  height: 100%;
}

.navbar {
  background: #2f4530 !important;
  width: 100%;
}

.btn-outline-primary {
  border-color: #2f4530;
  color: #2f4530;
}

  .btn-outline-primary:hover {
    background-color: #2f4530;
    color: #ffffff;
  }


.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 15px 15px 15px 15px;
  transition: all .3s;
  border-radius: 20px;
}

.gamePlay {
  background-color: #07580b !important;
  color: #edea3a;
}

.org-border {
  border: 1px solid #1c7621;
  padding: 15px;
  border-radius: 8px;
}

  .org-border .no-pad {
    padding: 2px !important;
  }

.vertical-center .form-control:focus {
  border-color: #1c7621;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

label {
  font-weight: 500;
}

.hide {
  display: none;
}

.profilePadding {
  padding: 0px 5px 10px 5px;
}

.vpad {
  padding-top: 3px;
}

.helloPadding {
  padding: 20px;
}

.dashboardPadding {
  padding: 0px 0px 0px 15px;
}

.dashboardMargin {
  margin: 3px;
}

.dashboardRight {
  width: 100%;
  text-align: right;
}

.login-margin-bottom {
  margin-bottom: 6px;
}

table.dbgTable td {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
}

.userProfileCell {
  text-align: center;
}

.notice {
  color: #70b0ea;
}

.flip-container-p {
  perspective: 1000px;
}

  .flip-container-p.hover .flipper-p {
    transform: rotateY(180deg);
  }

.flip-container-p,
.back-p,
.front-p {
  /* this needs to match the card image size configured in config.php */
  width: 40px;
  height: 55px;
}

.flipper-p {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.back-p,
.front-p {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back-p {
  z-index: 2;
  transform: rotateY(0deg);
}

.front-p {
  transform: rotateY(180deg);
}

.flip-container-l {
  perspective: 1000px;
}

  .flip-container-l.hover .flipper-l {
    transform: rotateX(180deg);
  }

.flip-container-l,
.back-l,
.front-l {
  width: 70px;
  height: 50px;
}

.flipper-l {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.back-l,
.front-l {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back-l {
  z-index: 2;
  transform: rotateX(0deg);
}

.front-l {
  transform: rotateX(180deg);
}

.infoBorder {
  border: 1px solid #c1d0c1;
  border-radius: 5px;
}

.infoTurnBorder {
  border: 2px solid #f9bb46;
  border-radius: 5px;
}

.info {
  font-size: 9px;
  padding: 3px;
}

.score {
  font-size: 11px;
  font-weight: 700;
  color: #646e57;
  height: 60px;
  width: 78px;
}

.scoreBorder {
  border: 1px solid #b9bdf6;
  padding: 6px;
  border-radius: 5px;
  background: #f0fae3;
}

.tricksBorder {
  border: 1px solid #b9bdf6;
  background: #f0fae3;
  padding: 0px 0px 0px 3px;
  height: 18px;
  width: 40px;
  font-size: 12px;
}

.trump {
  height: 10;
  width: 10;
}

.dealer {
  font-weight: bold;
  font-size: 18px;
  color: #f64b3c;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.dealerBorder {
  border: 1px solid #f64b3c;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 20px;
  width: 20px;
  line-height: 17px;
}

.playTable {
  width: 200px;
  height: 168px;
  background-color: #006F2D;
}

.clipCard {
  position: absolute;
  transform: scale(80%);
  clip: rect(1px, 30px, 30px, 1px);
}

.cardContainer {
  position: absolute;
  top: -11px;
  left: -9px;
}

.cardListItemSize {
  width: 28px;
  height: 28px;
}

.cardSelected {
  border: 2px solid #f96940;
  border-radius: 2px;
}

.cardNotPlayable {
  background: #050505;
  opacity: 0.2;
}

.suitContainer {
  margin: 3px;
}

.suitSize {
  width: 28px;
  height: 28px;
}
